
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: linear-gradient(45deg, rgb(118, 201, 255), rgb(241, 255, 222));
  color: #333;
}

#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #333;
  color: white;
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  transition: transform 0.1s ease-in-out;
}

#navbar a {
  text-decoration: none;
}

#navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

#navbar ul li {
  margin: 0 20px;
}

#navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

#navbar ul li a:hover {
  background-color: rgb(248, 250, 251);
  color: rgb(16, 16, 15);
  border-radius: 20px;
  border: 10px solid white;
  font-family: 'Times New Roman';
}

/* Welcome part */
#welcome-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, rgb(118, 201, 255), rgb(103, 145, 43));
  text-align: center;
}

#typing-text {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
}

#typing-text::after {
  content: "|";
  display: inline-block;
  animation: blinkCursor 0.8s infinite;
}

@keyframes blinkCursor {
  50% {
    opacity: 0;
  }
}

#welcome-section h1 {
  font-size: 3rem;
  color: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#about {
  background: linear-gradient(135deg, #f0f0f0, #e0e0e0);
  padding: 80px 20px;
  text-align: center;
  color: #333;
}

#about p {
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
}

#about h2 {
  font-size: 2.5rem;
  color: #222;
  margin-bottom: 20px;
}

#project-filter {
  text-align: center;
  margin: 20px 0;
}

#project-filter button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

#project-filter button:hover {
  background-color: #0056b3;
}

#projects {
  padding: 50px 20px;
  background-color: #fff;
}

.projects h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
}

.project-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.project-title h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.project-tile a {
  text-decoration: none;
  color: #007bff;
  margin-bottom: 10px;
}

.project-tile .project-image {
  width: 300px;
  background-color: lightgray;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-size: 1rem;
}

#contact {
  padding: 50px 20px;
  background-color: rgb(33, 150, 243);
  text-align: center;
}

#contact h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

#contact form input,
#contact form textarea {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;